.vault-index {
    .password {
        .password-raw {
            display: none;
        }

        &.show {
            .password-raw {
                display: inline-block;
            }
            
            .password-polite {
                display: none;
            }
        }
    }
    
    .password-toggle,
    .password-copy {
        color: #4444AA;
        font-weight: 600;
        padding: 0;
        margin: 0;
        background: none;
        border: 0;

        &:hover,
        &:focus {
            text-decoration: underline;
            background-color: yellow;
            cursor: pointer;
        }
    }

    .passwords-list {
        .row > .col-12 {
            padding-bottom: 30px;

            .pass-site {
                margin-bottom: 0;
                font-weight: 600;
                font-size: 18px;
            }

            .pass-url {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
}