* {
    font-family: 'Muli', 'Segoe UI', sans-serif;    
}

pre {
    border: 1px dotted #aaa;
    border-left: 2px solid #422;
    background-color: #f2f2f2;
    padding: 15px;
}

.favicon {
    height: 32px;
    width: 32px;
}